include requirements/*.txt
include docs/source/conf.py
include docs/source/*.rst
include docs/source/getting-started/*.rst
include docs/source/userguide/*.rst
include docs/source/img/*.jpg
include tox.ini
include pylint.ini
include flake8.ini
