include requirements/*.txt
include docs/source/conf.py
include docs/source/*.rst
include docs/source/examples/*.rst
include docs/source/img/*.png
include tox.ini
include pylint.ini
include flake8.ini
